@font-face {
  font-family: base;
  src: url(../fonts/Corbel.ttf);
}

@font-face {
  font-family: retro-custom;
  src: url(../fonts/8bit.ttf);
}

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: rgb(32, 42, 48);
    font-family: retro-custom;
}

.start {
	width: 30%;
	height: 20%;
	font-size: 40px;
	margin: auto;
	display: block;
	position: absolute;
  	top: 50%;
  	left: 50%;
	transform: translate(-50%, -50%);
	vertical-align: center;
}

.game-header {
	font-size: 40px;
	color: rgb(235, 100, 30);
	padding: 10px;
}

a {
	color: rgb(235, 100, 30);
}

a:hover {
	color: rgb(235, 100, 30);
}

a:focus {
	color: rgb(235, 100, 30);
}

.game-body {
	padding: 20px;
	border-radius: 10px;
	background: white;
	width: 70%;
	margin: auto;
	margin-top: 1.25em;
    margin-bottom: 1.25em;
    overflow:auto;
}

.center-body {
    padding:2em;
}

.center-wrap {
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    height:80%;
}

.round-total {
    position: relative;
    clear:both;
    float:right;
    padding-right:2.25em;
}

.total-title {
    font-weight:bold;
    font-size: 1.5em;
}

.btn-xl {
    padding: 0.5em 0.75em;
    font-size: 4em;
    border-radius: 0.5em;
}

.scoreboard {
    position:relative;
    overflow:auto;
}
.scoreboard#first {
    float:left;
    width: 45%;
}
.scoreboard#second {
    float:right;
    width: 45%;
}

.next-btn {
    position:relative;
    clear:both;
    float:left;
}
