<div class="game-body">
	<h1>Quick Fire</h1>

    <!-- {{l_answers.length}} answers   ->>
	5 answers

    <div class="socreboards">
        <span id="first" class="scoreboard">
            <table class="table"> 
                <tr>
                    <th>
                    Question
                    </th>
                    <th>
                    Answer
                    </th>
                    <th>
                    Score
                    </th>
                </tr>

                <tr ng-repeat="(key, val) in l_answers track by $index">
                    <td><a ng-click="reveal(key)">{{(key + 1)}}</a></td>
                    <td><a ng-click="reveal(key)">{{val}}</a></td>
                    <td><a ng-click="reveal(key)">{{l_scores[key]}}</a></td>
                </tr>
            </table>
            <div class="round-total">
                <span class="total-title"> Total </span>
                <span class="total-score"> {{lscore}} </span>
            </div>
        </span>
        <span id="second" class="scoreboard">
            <table class="table"> 
                <tr>
                    <th>
                    Question
                    </th>
                    <th>
                    Answer
                    </th>
                    <th>
                    Score
                    </th>
                </tr>

                <tr ng-repeat="(key, val) in r_answers track by $index">
                    <td><a ng-click="reveal(100 + key)">{{key + 1}}</a></td>
                    <td><a ng-click="reveal(100 + key)">{{val}}</a></td>
                    <td><a ng-click="reveal(100 + key)">{{r_scores[key]}}</a></td>
                </tr>
            </table>
            <div class="round-total">
                <span class="total-title"> Total </span>
                <span class="total-score"> {{rscore}} </span>
            </div>
        </span>
    </div>

    <div class="next-btn">
        <a ng-href="{{nexturi}}" class="btn btn-success">Next</a>
    </div>
</div>
